@import '@/styles/element-variables.scss';
@import '@/styles/reset.scss';
@import '@/styles/venus.scss';
@import '@/styles/element_local.scss';

// 注意，以下些颜色不可根据主题动态变换，为最初设置的主题色
.v-gh .el-primary {
  color: $--color-primary
}

.v-gh .el-success {
  color: $--color-success
}

.v-gh .el-warning {
  color: $--color-warning
}

.v-gh .el-danger {
  color: $--color-danger
}
