// @import './variables.scss'; // Already imported in style-resources-loader
// @import './mixins.scss'; // Already imported in style-resources-loader
@import './transition.scss';

/* Global scss */
$baseElement: body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption,
label;

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Microsoft Yahei', '微软雅黑', '宋体', Arial, sans-serif, 'Source Sans Pro';
}

html {
  height: 100%;
}

#app {
  height: 100%;
}

#{$baseElement} {
  font-size: 14px !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  @include clearfix;
}

.app-container {
  padding: 14px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

// Refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

aside {
  background: #eef1f6;
  color: #2c3e50;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.fixed-width {
  .el-button--mini {
    padding: 7px 10px;
    width: 60px;
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;
  }
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.no-padding {
  padding: 0px !important;
}

/* Webkit */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #f5f5f5;
}


// 以下为自定义的快捷样式，添加类便可实现相应效果
.v-gh .fill-height {
  height: 100% !important;
}
.v-gh .el-pointer {
  cursor: pointer;
}

.v-gh .el-fr {
  float: right;
}

.v-gh .el-fl {
  float: left;
}

.v-gh .el-block {
  display: block;
}

.v-gh .el-flex {
  display: flex !important
}
.v-gh .el-flex-grow {
  flex-grow:1!important
}
.v-gh .el-flex-row {
  flex-direction: row !important
}

.v-gh .el-flex-column {
  flex-direction: column !important
}

.v-gh .el-flex-row-reverse {
  flex-direction: row-reverse !important
}

.v-gh .el-flex-column-reverse {
  flex-direction: column-reverse !important
}

.v-gh .el-flex-end {
  justify-content: flex-end !important
}

.v-gh .el-flex-center {
  justify-content: center !important
}

.v-gh .el-flex-space-between {
  justify-content: space-between !important
}

// 间距公共样式
// 用于微调类
.v-gh .el-ma-0 {
  margin: 0 !important
}

.v-gh .el-ma-1 {
  margin: 4px !important
}

.v-gh .el-ma-2 {
  margin: 8px !important
}

.v-gh .el-ma-3 {
  margin: 12px !important
}

.v-gh .el-ma-4 {
  margin: 16px !important
}

.v-gh .el-ma-5 {
  margin: 20px !important
}

.v-gh .el-ma-6 {
  margin: 24px !important
}

.v-gh .el-ma-7 {
  margin: 28px !important
}

.v-gh .el-ma-8 {
  margin: 32px !important
}

.v-gh .el-ma-9 {
  margin: 36px !important
}

.v-gh .el-ma-10 {
  margin: 40px !important
}

.v-gh .el-ma-11 {
  margin: 44px !important
}

.v-gh .el-ma-12 {
  margin: 48px !important
}

.v-gh .el-ma-auto {
  margin: auto !important
}

.v-gh .el-mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important
}

.v-gh .el-mx-1 {
  margin-right: 4px !important;
  margin-left: 4px !important
}

.v-gh .el-mx-2 {
  margin-right: 8px !important;
  margin-left: 8px !important
}

.v-gh .el-mx-3 {
  margin-right: 12px !important;
  margin-left: 12px !important
}

.v-gh .el-mx-4 {
  margin-right: 16px !important;
  margin-left: 16px !important
}

.v-gh .el-mx-5 {
  margin-right: 20px !important;
  margin-left: 20px !important
}

.v-gh .el-mx-6 {
  margin-right: 24px !important;
  margin-left: 24px !important
}

.v-gh .el-mx-7 {
  margin-right: 28px !important;
  margin-left: 28px !important
}

.v-gh .el-mx-8 {
  margin-right: 32px !important;
  margin-left: 32px !important
}

.v-gh .el-mx-9 {
  margin-right: 36px !important;
  margin-left: 36px !important
}

.v-gh .el-mx-10 {
  margin-right: 40px !important;
  margin-left: 40px !important
}

.v-gh .el-mx-11 {
  margin-right: 44px !important;
  margin-left: 44px !important
}

.v-gh .el-mx-12 {
  margin-right: 48px !important;
  margin-left: 48px !important
}

.v-gh .el-mx-auto {
  margin-right: auto !important;
  margin-left: auto !important
}

.v-gh .el-my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important
}

.v-gh .el-my-1 {
  margin-top: 4px !important;
  margin-bottom: 4px !important
}

.v-gh .el-my-2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important
}

.v-gh .el-my-3 {
  margin-top: 12px !important;
  margin-bottom: 12px !important
}

.v-gh .el-my-4 {
  margin-top: 16px !important;
  margin-bottom: 16px !important
}

.v-gh .el-my-5 {
  margin-top: 20px !important;
  margin-bottom: 20px !important
}

.v-gh .el-my-6 {
  margin-top: 24px !important;
  margin-bottom: 24px !important
}

.v-gh .el-my-7 {
  margin-top: 28px !important;
  margin-bottom: 28px !important
}

.v-gh .el-my-8 {
  margin-top: 32px !important;
  margin-bottom: 32px !important
}

.v-gh .el-my-9 {
  margin-top: 36px !important;
  margin-bottom: 36px !important
}

.v-gh .el-my-10 {
  margin-top: 40px !important;
  margin-bottom: 40px !important
}

.v-gh .el-my-11 {
  margin-top: 44px !important;
  margin-bottom: 44px !important
}

.v-gh .el-my-12 {
  margin-top: 48px !important;
  margin-bottom: 48px !important
}

.v-gh .el-my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important
}

.v-gh .el-mt-n1 {
  margin-top: -4px !important
}

.v-gh .el-mt-0 {
  margin-top: 0 !important
}

.v-gh .el-mt-1-half {
  margin-top: 2px !important
}

.v-gh .el-mt-1 {
  margin-top: 4px !important
}

.v-gh .el-mt-2 {
  margin-top: 8px !important
}

.v-gh .el-mt-3 {
  margin-top: 12px !important
}

.v-gh .el-mt-4 {
  margin-top: 16px !important
}

.v-gh .el-mt-5 {
  margin-top: 20px !important
}

.v-gh .el-mt-6 {
  margin-top: 24px !important
}

.v-gh .el-mt-7 {
  margin-top: 28px !important
}

.v-gh .el-mt-8 {
  margin-top: 32px !important
}

.v-gh .el-mt-9 {
  margin-top: 36px !important
}

.v-gh .el-mt-10 {
  margin-top: 40px !important
}

.v-gh .el-mt-11 {
  margin-top: 44px !important
}

.v-gh .el-mt-12 {
  margin-top: 48px !important
}

.v-gh .el-mt-auto {
  margin-top: auto !important
}

.v-gh .el-mr-0 {
  margin-right: 0 !important
}

.v-gh .el-mr-1-half {
  margin-right: 2px !important
}

.v-gh .el-mr-1 {
  margin-right: 4px !important
}

.v-gh .el-mr-2 {
  margin-right: 8px !important
}

.v-gh .el-mr-3 {
  margin-right: 12px !important
}

.v-gh .el-mr-4 {
  margin-right: 16px !important
}

.v-gh .el-mr-5 {
  margin-right: 20px !important
}

.v-gh .el-mr-6 {
  margin-right: 24px !important
}

.v-gh .el-mr-7 {
  margin-right: 28px !important
}

.v-gh .el-mr-8 {
  margin-right: 32px !important
}

.v-gh .el-mr-9 {
  margin-right: 36px !important
}

.v-gh .el-mr-10 {
  margin-right: 40px !important
}

.v-gh .el-mr-11 {
  margin-right: 44px !important
}

.v-gh .el-mr-12 {
  margin-right: 48px !important
}

.v-gh .el-mr-auto {
  margin-right: auto !important
}

.v-gh .el-mb-0 {
  margin-bottom: 0 !important
}

.v-gh .el-mb-1 {
  margin-bottom: 4px !important
}

.v-gh .el-mb-2 {
  margin-bottom: 8px !important
}

.v-gh .el-mb-3 {
  margin-bottom: 12px !important
}

.v-gh .el-mb-4 {
  margin-bottom: 16px !important
}

.v-gh .el-mb-5 {
  margin-bottom: 20px !important
}

.v-gh .el-mb-6 {
  margin-bottom: 24px !important
}

.v-gh .el-mb-7 {
  margin-bottom: 28px !important
}

.v-gh .el-mb-8 {
  margin-bottom: 32px !important
}

.v-gh .el-mb-9 {
  margin-bottom: 36px !important
}

.v-gh .el-mb-10 {
  margin-bottom: 40px !important
}

.v-gh .el-mb-11 {
  margin-bottom: 44px !important
}

.v-gh .el-mb-12 {
  margin-bottom: 48px !important
}

.v-gh .el-mb-auto {
  margin-bottom: auto !important
}

.v-gh .el-ml-0 {
  margin-left: 0 !important
}

.v-gh .el-ml-1-half {
  margin-left: 2px !important
}

.v-gh .el-ml-1 {
  margin-left: 4px !important
}

.v-gh .el-ml-2-half {
  margin-left: 6px !important
}

.v-gh .el-ml-2 {
  margin-left: 8px !important
}

.v-gh .el-ml-3 {
  margin-left: 12px !important
}

.v-gh .el-ml-4 {
  margin-left: 16px !important
}

.v-gh .el-ml-5 {
  margin-left: 20px !important
}

.v-gh .el-ml-6 {
  margin-left: 24px !important
}

.v-gh .el-ml-7 {
  margin-left: 28px !important
}

.v-gh .el-ml-8 {
  margin-left: 32px !important
}

.v-gh .el-ml-9 {
  margin-left: 36px !important
}

.v-gh .el-ml-10 {
  margin-left: 40px !important
}

.v-gh .el-ml-11 {
  margin-left: 44px !important
}

.v-gh .el-ml-12 {
  margin-left: 48px !important
}

.v-gh .el-ml-auto {
  margin-left: auto !important
}


.v-gh .el-pa-0 {
  padding: 0 !important
}

.v-gh .el-pa-1 {
  padding: 4px !important
}

.v-gh .el-pa-2 {
  padding: 8px !important
}

.v-gh .el-pa-3 {
  padding: 12px !important
}

.v-gh .el-pa-4 {
  padding: 16px !important
}

.v-gh .el-pa-5 {
  padding: 20px !important
}

.v-gh .el-pa-6 {
  padding: 24px !important
}

.v-gh .el-pa-7 {
  padding: 28px !important
}

.v-gh .el-pa-8 {
  padding: 32px !important
}

.v-gh .el-pa-9 {
  padding: 36px !important
}

.v-gh .el-pa-10 {
  padding: 40px !important
}

.v-gh .el-pa-11 {
  padding: 44px !important
}

.v-gh .el-pa-12 {
  padding: 48px !important
}

.v-gh .el-px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important
}

.v-gh .el-px-1 {
  padding-right: 4px !important;
  padding-left: 4px !important
}

.v-gh .el-px-2 {
  padding-right: 8px !important;
  padding-left: 8px !important
}

.v-gh .el-px-3 {
  padding-right: 12px !important;
  padding-left: 12px !important
}

.v-gh .el-px-4 {
  padding-right: 16px !important;
  padding-left: 16px !important
}

.v-gh .el-px-5 {
  padding-right: 20px !important;
  padding-left: 20px !important
}

.v-gh .el-px-6 {
  padding-right: 24px !important;
  padding-left: 24px !important
}

.v-gh .el-px-7 {
  padding-right: 28px !important;
  padding-left: 28px !important
}

.v-gh .el-px-8 {
  padding-right: 32px !important;
  padding-left: 32px !important
}

.v-gh .el-px-9 {
  padding-right: 36px !important;
  padding-left: 36px !important
}

.v-gh .el-px-10 {
  padding-right: 40px !important;
  padding-left: 40px !important
}

.v-gh .el-px-11 {
  padding-right: 44px !important;
  padding-left: 44px !important
}

.v-gh .el-px-12 {
  padding-right: 48px !important;
  padding-left: 48px !important
}

.v-gh .el-py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important
}

.v-gh .el-py-1 {
  padding-top: 4px !important;
  padding-bottom: 4px !important
}

.v-gh .el-py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important
}

.v-gh .el-py-3 {
  padding-top: 12px !important;
  padding-bottom: 12px !important
}

.v-gh .el-py-4 {
  padding-top: 16px !important;
  padding-bottom: 16px !important
}

.v-gh .el-py-5 {
  padding-top: 20px !important;
  padding-bottom: 20px !important
}

.v-gh .el-py-6 {
  padding-top: 24px !important;
  padding-bottom: 24px !important
}

.v-gh .el-py-7 {
  padding-top: 28px !important;
  padding-bottom: 28px !important
}

.v-gh .el-py-8 {
  padding-top: 32px !important;
  padding-bottom: 32px !important
}

.v-gh .el-py-9 {
  padding-top: 36px !important;
  padding-bottom: 36px !important
}

.v-gh .el-py-10 {
  padding-top: 40px !important;
  padding-bottom: 40px !important
}

.v-gh .el-py-11 {
  padding-top: 44px !important;
  padding-bottom: 44px !important
}

.v-gh .el-py-12 {
  padding-top: 48px !important;
  padding-bottom: 48px !important
}

.v-gh .el-pt-0 {
  padding-top: 0 !important
}

.v-gh .el-pt-1 {
  padding-top: 4px !important
}

.v-gh .el-pt-2 {
  padding-top: 8px !important
}

.v-gh .el-pt-3 {
  padding-top: 12px !important
}

.v-gh .el-pt-4 {
  padding-top: 16px !important
}

.v-gh .el-pt-5 {
  padding-top: 20px !important
}

.v-gh .el-pt-6 {
  padding-top: 24px !important
}

.v-gh .el-pt-7 {
  padding-top: 28px !important
}

.v-gh .el-pt-8 {
  padding-top: 32px !important
}

.v-gh .el-pt-9 {
  padding-top: 36px !important
}

.v-gh .el-pt-10 {
  padding-top: 40px !important
}

.v-gh .el-pt-11 {
  padding-top: 44px !important
}

.v-gh .el-pt-12 {
  padding-top: 48px !important
}

.v-gh .el-pr-0 {
  padding-right: 0 !important
}

.v-gh .el-pr-1-half {
  padding-right: 2px !important
}

.v-gh .el-pr-1 {
  padding-right: 4px !important
}

.v-gh .el-pr-2 {
  padding-right: 8px !important
}

.v-gh .el-pr-3 {
  padding-right: 12px !important
}

.v-gh .el-pr-4 {
  padding-right: 16px !important
}

.v-gh .el-pr-5 {
  padding-right: 20px !important
}

.v-gh .el-pr-6 {
  padding-right: 24px !important
}

.v-gh .el-pr-7 {
  padding-right: 28px !important
}

.v-gh .el-pr-8 {
  padding-right: 32px !important
}

.v-gh .el-pr-9 {
  padding-right: 36px !important
}

.v-gh .el-pr-10 {
  padding-right: 40px !important
}

.v-gh .el-pr-11 {
  padding-right: 44px !important
}

.v-gh .el-pr-12 {
  padding-right: 48px !important
}

.v-gh .el-pb-0 {
  padding-bottom: 0 !important
}

.v-gh .el-pb-1 {
  padding-bottom: 4px !important
}

.v-gh .el-pb-2 {
  padding-bottom: 8px !important
}

.v-gh .el-pb-3 {
  padding-bottom: 12px !important
}

.v-gh .el-pb-4 {
  padding-bottom: 16px !important
}

.v-gh .el-pb-5 {
  padding-bottom: 20px !important
}

.v-gh .el-pb-6 {
  padding-bottom: 24px !important
}

.v-gh .el-pb-7 {
  padding-bottom: 28px !important
}

.v-gh .el-pb-8 {
  padding-bottom: 32px !important
}

.v-gh .el-pb-9 {
  padding-bottom: 36px !important
}

.v-gh .el-pb-10 {
  padding-bottom: 40px !important
}

.v-gh .el-pb-11 {
  padding-bottom: 44px !important
}

.v-gh .el-pb-12 {
  padding-bottom: 48px !important
}

.v-gh .el-pl-0 {
  padding-left: 0 !important
}

.v-gh .el-pl-1-half {
  padding-left: 2px !important
}

.v-gh .el-pl-1 {
  padding-left: 4px !important
}

.v-gh .el-pl-2 {
  padding-left: 8px !important
}

.v-gh .el-pl-3 {
  padding-left: 12px !important
}

.v-gh .el-pl-4 {
  padding-left: 16px !important
}

.v-gh .el-pl-5 {
  padding-left: 20px !important
}

.v-gh .el-pl-6 {
  padding-left: 24px !important
}

.v-gh .el-pl-7 {
  padding-left: 28px !important
}

.v-gh .el-pl-8 {
  padding-left: 32px !important
}

.v-gh .el-pl-9 {
  padding-left: 36px !important
}

.v-gh .el-pl-10 {
  padding-left: 40px !important
}

.v-gh .el-pl-11 {
  padding-left: 44px !important
}

.v-gh .el-pl-12 {
  padding-left: 48px !important
}
