.hljs-name{
  color: #22863a;
}
.hljs-attr{
  color: #6f42c1;
}
.hljs-keyword{
  color: red;
}
.hljs-string{
  color: #032f62;
}
.hljs-comment{
  color: #1585a1;
}
.hljs-string{
  color: #15a16b;
}
.hljs-function{
  color: #67ac0d;
}